In [18]:
# Dictionary (2nd Mutable Data type)

'''
KEY  :  VALUE

Name :  Ujjwal
Age  :    32
Number :  1234567890
'''
dict1 ={ "Name" : "Ujjwal"  , "Age":32   , "Number":1234567890 }

# No concept of Indexing in dictionary so use key names to perform any operation.
print(dict1[ "Name" ])
print(dict1["Number"])
print(dict1["Age"])

# Can be print in one statement?
print( dict1[ "Name" ] ,  dict1["Number"] ,  dict1["Age"] )

Ujjwal
1234567890
32
Ujjwal 1234567890 32

In [19]:
# How to add new key value pair in dictionary
print(dict1)

# add address also
dict1[ "Address "] = "Banglore"

print(dict1)

# add salary also
dict1["salary"]=120000

print(dict1)

{'Name': 'Ujjwal', 'Age': 32, 'Number': 1234567890}
{'Name': 'Ujjwal', 'Age': 32, 'Number': 1234567890, 'Address ': 'Banglore'}
{'Name': 'Ujjwal', 'Age': 32, 'Number': 1234567890, 'Address ': 'Banglore', 'salary': 120000}

In [20]:
# How to remove key value pair in dictionary

dict1.pop("salary")

print(dict1)

{'Name': 'Ujjwal', 'Age': 32, 'Number': 1234567890, 'Address ': 'Banglore'}

In [21]:
# How to update the value of any key

# change/update Number from 1234567890 to 1122334455
dict1["Number"] =1122334455

print(dict1)

# change/update address from banglore to south west banglore
dict1["Address "]="South West banglore"

print(dict1)

{'Name': 'Ujjwal', 'Age': 32, 'Number': 1122334455, 'Address ': 'Banglore'}
{'Name': 'Ujjwal', 'Age': 32, 'Number': 1122334455, 'Address ': 'South West banglore'}

In [24]:
# how about multiple entries..
# Can we have multiple keys with same name  ? - NO  YOU CANNOT HAVE MULTIPLE KEYS WITH SAME NAME

dict1={'Name': 'Ujjwal', 'Age': 32, 'Number': 1122334455, 'Address ': 'South West banglore'}

dict1["Age"]=42
print(dict1)

{'Name': 'Ujjwal', 'Age': 42, 'Number': 1122334455, 'Address ': 'South West banglore'}

In [25]:
# SET ( Mutable data type ) - It store unique data only , if duplicte data is added automatically it is going to remove it.

set1 ={ "Apple" , "Banana" , "Cheery" ,"Berry" , "Watermelon" , "Apple" , "Orange"}
print(set1)

{'Berry', 'Cheery', 'Watermelon', 'Apple', 'Orange', 'Banana'}

In [27]:
# Add new value to set

set1.add("Grapes")

print(set1)

set1.add("Papaya")

print(set1)

{'Berry', 'Grapes', 'Cheery', 'Watermelon', 'Apple', 'Orange', 'Banana'}
{'Berry', 'Grapes', 'Cheery', 'Papaya', 'Watermelon', 'Apple', 'Orange', 'Banana'}

In [29]:
# How to remove watermelon

set1.remove("Watermelon")

print(set1)

{'Berry', 'Grapes', 'Cheery', 'Papaya', 'Apple', 'Orange', 'Banana'}

In [35]:
'''
in list can we print the string character of the index
value ex list1 ('ujjwal','srinivas') need to print u or s
'''

list1=["Ujjwal" , "srinivas"]

# I want to print "U" of ujjwal and "s" of srinivas

print(list1[0][0] , list1[1][0])


#Print "U" first letter of ujjwal and "l" last letter of ujjwal
print(list1[0][0]  , list1[0][5])

U s
U l

In [36]:
list1=[1,"Watermelon",2,3,"Cheery" ,4,"Apple","Banana"]

# Find the index of "Apple" without calculating it manually

list1.index("Apple")

6

tup1=( , , ,  ) Round brackets for tuples

list1= [ , , , ] square brackets for list

dict1={ key:value  , key:value  } curly brackets in dictionary

set1 ={ , , , ,  }

# Loops

1) for loop

2) while loop

In [37]:
# I want to print numbers from 1 to 100

print(1,2,3,4,5,6,7,8,9,10)

1 2 3 4 5 6 7 8 9 10

In [40]:
# for loop   - It runs 1 less than your ending range

for i in range(1,101):   #range (start point  , end point +1 )
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [54]:
# how we can increase number by 2 or 3 in for loop  means print number with a gap of 2 or 3

# Print number normally from 1 to 15
for i in range(1,16):   #( start , end +1 )
  print(i)

# Now print numbers with a gap of 2
for i in range( 1 , 16 , 2) :    #( start , end +1 ,  gap )
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
3
5
7
9
11
13
15

In [43]:
# Use for loop to access elements inside list

list1=["Apple","Banana" ,"Cheery" ,"wateremlon","OrANGE" , "Grapes"]
#Manual way
print(list1[0])
print(list1[1])

print("-----------------------")

# By using for loop
for i in list1:
  print(i)

Apple
Banana
-----------------------
Apple
Banana
Cheery
wateremlon
OrANGE
Grapes

In [50]:
mytuple=(1,2,3,"Banana",4,5,6,"Apple")
for xyz in mytuple:
  print(xyz)

1
2
3
Banana
4
5
6
Apple

In [51]:
set1={1,2,3,4,5,1,1,1,5,5,5,6,7,8,9,9,9}
for i in set1:
  print(i)

1
2
3
4
5
6
7
8
9

In [47]:
dict1={'Name': 'Ujjwal', 'Age': 32, 'Number': 1122334455, 'Address ': 'South West banglore'}

print(dict1.values())
print(dict1.keys())

dict_values(['Ujjwal', 32, 1122334455, 'South West banglore'])
dict_keys(['Name', 'Age', 'Number', 'Address '])

In [49]:
# can we use the looping for dictionary data - YES
dict1={'Name': 'Ujjwal', 'Age': 32, 'Number': 1122334455, 'Address ': 'South West banglore'}

for n in dict1.values():
  print(n)

Ujjwal
32
1122334455
South West banglore

In [44]:
# I want to print numbers from 2 to 4

for x in range( 2, 5) :     #(start , end +1)
  print(x)

2
3
4

In [ ]:
# While loop

In [57]:
# I want to print numbers from 1 to 100

i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Functions ( Block of a code that will only run when you are going to call it by its name)

1) Pre-defined function   ( Already created , Already present in the python memory just use them by their name) for example .insert .append .pop .add

2) User-defined function ( Created by user itself)

In [65]:
# How to create a user-defind function

def myfunction():
  print("Hello i am a function and i will only execute when my user will call me with my name.")

In [66]:
myfunction()

Hello i am a function and i will only execute when my user will call me with my name.

In [70]:
# Create a user-defined function to add 4 number a,b,c,d

def func1(a,b,c,d):
  print(a+b+c+d)

In [71]:
a=5
b=2
c=10
d=20

func1(a,b,c,d)   # call the function by its name

37

In [72]:
# can we take value of a,b,c,d from user ?

def func1(a,b,c,d):
  print(a+b+c+d)

In [75]:
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
c=int(input("Enter the value of c:"))
d=int(input("Enter the value of d:"))

func1(a,b,c,d)   # call the function by its name

Enter the value of a:2
Enter the value of b:43252534637
Enter the value of c:7497139479237498729479823759275922
Enter the value of d:749134982374927394729759249579345793795943797937693796793769379367396793669396739769379639
749134982374927394729759249579345793795943797937693796801266518846634292398876606781190200