# Arithmetic operators - done in previous class
# Assignment operators - done
# Comparision values - done
# Logical operators - done
# Identity operators - done
# Membership operators -

In [ ]:
# Assignment operators - They are used to assign some value to your variables
'''
=   (x=5 assigning value 5 to variable x by using equal sign)

+=
*=
-=
/=
**=
//=

'''

In [1]:
xyz = 123
print(xyz)

10

In [3]:
a=5
a+=1      # += will add 1 to the previous value of a , so now 5+1=6 , a=6 final value
print(a)

first=123
first +=2  # += will add 2 to the previous value of first so new value 123+2=125
print(first)

6
125

In [4]:
x=10
x -= 3    # -= will substract 3 from previous value of x so x will become 10-3=7
print(x)

7

In [5]:
ab=5
ab *=5   # *= means multiply 5 to the previous value of ab , so ab will become 5*5=25
print(ab)

25

In [6]:
b=20
b /=5  # /= will divide previous value by 5 , so it will become my 20/5=4
print(b)

4.0

In [ ]:
# Comparision operators they are used to compare the value
'''
>
<
==   It is used to compare whether two values are same or not
>=
<=
'''

In [7]:
a=5
b=10
print(a>b)   # Check a greater than b ( True / False)

False

In [8]:
a=20
b=200
print(b<a) # Check b less than a (True / False)

False

In [13]:
a=220.1
b=220.1
print(a==b)  # Check value of a and b are equal or not ( True/ False)

True

In [16]:
a=500
b=500
print(a<=b)  # Less than equal to, Return True if a less than b or they both are equal

True

In [18]:
value1 =55
value2= 34

print(value1 <= value2)   # value1 < value2 or value1==value2

False

In [ ]:
# Logical operators they are used to compare te logic ir correct or not
'''
and
or
not
'''

In [20]:
# and , Return True if both statement are correct otherwise return False

a=500
b=10
print( a<b and b>a)   # a less than b    and     b greater than a

False

In [21]:
# or , Return true if any one of the statement is correct return True otherwise false

a=5
b=20

print(a<b or a==b)  # a less than b   or   a equal to b

True

In [22]:
#not - Reverse your result

a=5
b=20
print (not(b>a))   # not(True)  converted to False

False

In [24]:
first=200
second=300
print (not(first == second))   # not(False)

True

In [26]:
# Identity operators to check whether the identity is same or not
'''
is     - Return true if both will be same.
is not - Return true if both will be different
'''
apple=85
orange=85

print( apple is orange )  # similar to ==

True

In [28]:
a=5
b=55
print(a is b)

False

In [30]:
a=55
b=55
print( a is not b)  # 55 is not 55 - FALSE

False

In [ ]:
# Membership operator  used to searching purpose
'''
in    - Return True if present
not in - Return true if not present
'''

In [33]:
word="Orange"
print( "a" in word)   # a present in Orange or not

True

In [34]:
word="Orange"
print("A" not in word) # A not present in Orange or not

True

# Conditional statements

1) if


2) elif

3) else

In [36]:
Rohan_marks =850
Rahul_marks =99

if Rohan_marks > Rahul_marks :
  print("Rohan scored more marks than Rahul")   # Print this if above condition is True
else:
  print("Rahul scored more marks than Rohan")  # Print this if above condition is False

Rohan scored more marks than Rahul

In [ ]:
word="Hello World"

if "W" in word :
  print("W is present in the word ")
else:
  print("W is not present in the word")

In [43]:
# a=10 , b=20 , check if a is greater than b print "A won" , otherwise print "B won"
a = 10
b = 20
if a > b :
  print('A Won')
else:
  print("B Won")

B Won

In [41]:
a = 10
b = 20

if a>b :
  print ('A won')
else:
  print ('b won')

b won

In [45]:
a=300    # 1) A is greater than b    , 2) A is equal to B ,  3) B is greater than A
b=30

if a>b:
  print("a is greater")
elif a==b:
  print("They both are same")
else:
  print("b is greater")

They both are same

In [46]:
a = 5
print ( a is 5)

True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-46-90ef198f3128>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print ( a is 5)

In [48]:
print ("Hello")

Hello

# Data Types

1) Mutable data types    -Changeable type of data

List

Dictionary

Set

2) Immutable data types  - Un-Changeable type of data

Numbers

String  - Anything inside single , double , triple quotation marks

Tuples

In [54]:
# Immutable data types

In [ ]:
# Numbers

a=155
# I want to change 1 to 9   (155 to 955)
a[0]=9

In [51]:
# STRING - Anythin enclosed inside '' , " " , '''  '''  will be considered as string


#Index-"012345"
name=  "Python"
# I want to print "n"
print(name[5])

#Index-   "012345"
SURNAME = "Sharma"
# I want to print "m"
print(SURNAME[4])

n
m

In [52]:
name= "Ujjwal"
# Change  capital "U" to small "u"

name[0] ="u"

TypeError: 'str' object does not support item assignment

In [57]:
# Tuples  - Store multiple values inside a single variable

names =("Rahul" , "Rohan" , "Aman" , "Priya")
ages=( 45 , 34 , 23, 54)

print(names)
print(ages)


# I want to print "Aman"
print(names[2])
print(ages[2])

('Rahul', 'Rohan', 'Aman', 'Priya')
(45, 34, 23, 54)
Aman
23

In [58]:
names[2] ="Aman singh"

TypeError: 'tuple' object does not support item assignment

# Mutable data types

In [64]:
# List - Store multiple values inside a single variable

names=["Rahul" , "Rohan" , "Aman" , "Priya" ]

In [65]:
# How to change th value of aman to aman singh
names[2] ="Aman singh"

In [66]:
print(names)

['Rahul', 'Rohan', 'Aman singh', 'Priya']

In [67]:
# How to add a value at last  ( Add akash at last)

names.append("akash")
print(names)

names.append("Dev")
print(names)

['Rahul', 'Rohan', 'Aman singh', 'Priya', 'akash']
['Rahul', 'Rohan', 'Aman singh', 'Priya', 'akash', 'Dev']

In [68]:
# How to add a value in between  at a specific position ( Add Ravindra between Priya and akash)

names.insert( 4  ,"Ravindra" )     #( index position in which you want to add   ,   value that you want to add )

print(names)

['Rahul', 'Rohan', 'Aman singh', 'Priya', 'Ravindra', 'akash', 'Dev']

In [69]:
# How to delete any value

# Delete Rohan from the list names

names.pop(1)
print(names)

['Rahul', 'Aman singh', 'Priya', 'Ravindra', 'akash', 'Dev']

In [70]:
# Delete multiple values

names.pop(1)
print(names)

TypeError: pop expected at most 1 argument, got 2