# Introduction to Python

Python is a popular programing language .

The name and logo is inspired from a snake.

Python is created by Guido Van Rossum in the year 1991 he is a dutch programmer.

# How to print/display anything in the output box

You can use single , doublt , triple quotation marks to print English letter , word , sentence.

You can directy print your numbers withour quotation marks.

If you want to print special characters use quotation marks.

In [6]:
print("Ujjwal")
print('A')
print('''B''')
print("Python is the most popular programming language")


print(1234567890)
print(99.99)

print("150$")
print("***")
print("@")

Ujjwal
A
B
Python is the most popular programming language
1234567890
99.99
150$
***
@

# How to comment or write anything in between your codes

 use Hastah-# for single line comment
 use triple quoataion marks for

'''

'''  - Triple quotation marks for Multi-line comment

In [10]:
print("A")
print("C")
print("E")
# I am printing letters with a gap of 1.
print("g")
print("i")
# This was my access code for accessing confidential information from server
print(123456789013020)

'''
This is my first python class in which we are going to learn about
Python basics
'''
# This is my first python class in which we are going to learn about
# Python basics

print("ABCD")

A
C
E
g
i
123456789013020
ABCD

# How to create a variable and how to store data in it.

Variables are like containers in which i am going to store something.

In [16]:
a="Ujjwal"
variable_first = "Rohan scored 95 in 12th"
x=123

In [17]:
print(a)
print(variable_first)
print(a)
print(x)

Ujjwal
Rohan scored 95 in 12th
Ujjwal
123

In [18]:
name="Ujjwal"
age="32"
phone_no=1234567890

In [19]:
# Print name of user
print(name)

Ujjwal

In [21]:
# Print age and phone no of user
print(age)
print(phone_no)

32
1234567890

# Rules for variables naming-

1) Variable name cannot start with a number, but you can use them later on after letter or allowed special characters.

2) No special character other than _ underscore is allowed.

3) Variables in Python are case sensitive

In [24]:
a1="Ujjwal"  # VALID

In [ ]:
1="Ujjwal"   # INVALID VARIABLE NAME

In [30]:
_abc="Ujjwal"  #VALID

In [31]:
@ABC="UJJWAL" # INVALID VARIABLE NAME

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-31-260cf1aae11e>, line 1)

In [37]:
# Variables in Python are case sensitive.

a="Hello"
A="World"

print(a)

abC1=123
abc1=456
print(abc1)

Hello
456

In [33]:
_="Python"
print(_)

Python

In [36]:
# Define and print varibale in seperate seperate lines.

a=1
b=2
c=3

print(a)
print(b)
print(c)

# Define variable and store data  and print them in a single line.
a,b,c = 1,2,3
print(a,b,c)

name,age,phoneno = "Ujjwal" , 32 ,1234567890
print(name , age , phoneno)

1
2
3
1 2 3
Ujjwal 32 1234567890

# Operators in python

1) Arithmetic Operators  ( Used to perform basic mathematical operation )

In [46]:
print(1+2) # Addition
print(5-2) # Substraction
print(10*23) # Multiplication

print(5**2)    # Power 5^2  = 5*5 =25
print(2**3)    # Power 2^3  =2*2*2=8

print(10/2) # Division

print(13%3) # Modulus - To find Remainder
print(27%6)

3
3
230
25
8
5.0
12
1
3

In [47]:
print(25//2)  # Floor division  will return 12 not 12.5 because it retirn the interger value only

12


x=123            - VALID

x#="Python        - INVALID

abc_1@ = "Monday      - INVALID

123_x  ="Porgramming language"     - INVALID